flask

pandas
numpy

scikit-learn
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-zipkin
psycopg2-binary
mysql-connector-python
prometheus-flask-exporter
py-eureka-client

